@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 158.18 84.62% 2.55%;

    --primary: 158.49 80.3% 25.88%;
    --primary-foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 158.18 84.62% 2.55%;

    --popover: 0 0% 100%;
    --popover-foreground: 158.18 84.62% 2.55%;

    --secondary: 157.5 28.57% 89.02%;
    --secondary-foreground: 0 0% 0%;

    --muted: 162 26.32% 92.55%;
    --muted-foreground: 0 0% 40%;

    --accent: 162 26.32% 92.55%;
    --accent-foreground: 158.49 80.3% 25.88%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 158.49 80.3% 25.88%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 157.5 28.57% 89.02%;

    --primary: 158.49 80.3% 25.88%;
    --primary-foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 157.5 28.57% 89.02%;

    --popover: 0 0% 0%;
    --popover-foreground: 157.5 28.57% 89.02%;

    --secondary: 157.3 78.72% 9.22%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;

    --accent: 157.3 78.72% 9.22%;
    --accent-foreground: 157.5 28.57% 89.02%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 158.49 80.3% 25.88%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

